#input{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px red solid;
    padding: 30px;
}

#write-click{
    padding: 10px;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 2px red solid
}
.divG {
    height: 20px; 
    width: 20px;
    border: 2px red solid;
    margin: 2px; 
    padding: 25px; 
}

body{
    display: flex;
    justify-content: center;
}