#input{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px red solid; */
    padding: 30px;
}

#write-click{
    padding: 10px;
}

#container{
    display: flex;
    
    justify-content: center;
    margin: 100px;
}
.divG {
    border: 2px red solid;
    margin: 2px;
    padding: 25px;
}